@{
  Layout = "_Layout";
}
@using Factory.Models;

@if (@Model.Count == 0)
{
  <h3>No Engineers exist in the system yet!</h3>
} 
else
{
  <h3>Engineers for this factory:</h3>
  <ul>
    @foreach (Engineer engineer in Model)
    {
      <li>@Html.ActionLink($"{engineer.Name}", "Details", new { id = engineer.EngineerId }, new { @class = "btn btn-secondary" })</li>
    }     

  </ul>
}
<p>@Html.ActionLink("Add new engineer", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>