@{
  Layout = "_Layout";
}

@{
    ViewBag.Title = "Dr. Sillystringz's Factory";
}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="jumbotron">
        <h1>Welcome to the Dr. Sillystringz's Factory management application</h1>
        <p>You can use this application to view, create, edit, or delete from the lists of engineers and machines</p>
        <hr>
      </div>
      <div class="container">
        <p>
          @Html.ActionLink("View Engineers", "Index", "Engineers", null, new { @class = "btn btn-primary btn-lg" })
        </p>
        <p>
          @Html.ActionLink("View Machines", "Index", "Machines", null, new { @class = "btn btn-info btn-lg" })

        </p>
      </div>
    </div>
  </div>
</div>
</div>